.section-4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 180px;


    &__container{
        width: 1100px;
    }
    

    

    &__title{
        color: #495567;
        font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    width: 340px;
    padding-bottom: 40px;
    }



    &__text{
        color: #939CAA;
        font-weight: 400;
font-size: 15px;
line-height: 25px;
width: 445px;
padding-bottom: 30px;
    }
}


@media screen and (max-width: 885px) {
    .section-4{
        max-width: 800px;
    }
}

@media screen and (max-width: 825px) {
    .section-4{
        flex-direction: column;
    }

    .section-4__title {
        text-align: center;
        margin-top: 40px;
        margin-left: 40px;
    }

    .section-4__text{
        text-align: center;
        
    }

    .section-4__scotin{
        display: none;
    }
}

@media screen and (max-width: 540px) {
    .section-4{
        max-width: 500px;
    }
}

@media screen and (max-width: 470px) {
    .section-4{
        max-width: 400px;
    }

    .section-4__img{
        width: 300px;
        height: 300px;
    }

    .section-4__text{
        width: 300px;
        margin-left: 50px;
    }
}